$color-primary: #0074d9;
$color-secondary: #7fdbff;
$color-tertiary: #39cccc;

// UI grey
$light-grey-1: rgb(223,223,223);
$light-grey-2: rgb(209,209,209);
$light-grey-3: rgb(203,203,203);
$light-grey-4: rgb(186,186,186);